.dashboard-parent{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 40px;
}
@media (max-width: 600px) {
    .dashboard-parent{
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
    }
}
.carousel-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 12px;
}
.carousel-item {
    height: 30rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.flip-scale-up-ver{animation:rotate-in-2-cw .5s cubic-bezier(.25,.46,.45,.94) both}

 @keyframes flip-scale-up-ver{0%{transform:rotate(-45deg);opacity:0}100%{transform:rotate(0);opacity:1}}